<?php

require_once("../vendor/autoload.php");

$config = [
    'tenant' => [
        "name" => "",
        "subdomain" => null,
        "cname_domain" => null,
        "api_company_id" => "",
        "api_base_url" => "",
        "api_user" => "",
        "api_password" => "",
        "api_tenant" => "",
        "api_rest_version" => ""
    ]
];
